<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="brief" value="${longdate} | ${level} | ${logger} | ${callsite} | ${message} | ${exception:format=tostring}"/>
  <variable name="verbose" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${threadid} | ${level} | ${logger} | ${callsite} | ${message} | ${exception:format=tostring}"/>

  <targets>
    <target name="operation" xsi:type="File" fileName="operation.log" layout="${brief}" maxArchiveFiles="4"
            archiveAboveSize="1048576"
            archiveEvery="Day"/>
    <target name="development" xsi:type="File" fileName="development.log" layout="${verbose}" maxArchiveFiles="4"
            archiveAboveSize="1048576"
            archiveEvery="Day"/>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" enableAnsiOutput="false" layout="${brief}" >
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Magenta" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="operation" />
    <logger name="*" minlevel="Trace" writeTo="development, coloredConsole" />
  </rules>
</nlog>